<IfModule mod_rewrite.c>
RewriteEngine On
Options +MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>

RedirectMatch 301 ^/dotabuff https://www.dotabuff.com/players/192006064
RedirectMatch 301 ^/steam https://steamcommunity.com/id/luckypops
RedirectMatch 301 ^/ezgi https://music.youtube.com/watch?v=1qURGgzfJhc&feature=share
RedirectMatch 301 ^/erdem https://youtu.be/qHGgEF-1zNc?t=249
RedirectMatch 301 ^/yasin https://youtu.be/mu5SSx9VsFw