body {
    background-color: #0C0606;
}

.menu-item{
    background-color: #720672;
    color: #FFF;
    padding: 10px;
    margin: 8px 2px;
    width: 200px;
    font-size: 20px;
    transition: all 0.3s;
    transform: skewY(10deg);
    border-top: 2px solid #e10ce1;
    border-right: 2px solid #4d044d;
}

.menu-selected {
    background-color: #065b72;
    border-top: 2px solid #0cb4e1;
    border-right: 2px solid #043d4d;
}

.menu-item:hover{
    text-decoration: none;
    width: 250px;
    margin: 25px 2px;
    transition: all 0.3s;
    cursor: pointer;
}

.menu-div {
    display: flex;
    flex-direction: column;
    top: 200px;
}

.page-heading {
    margin: 30px 0;
    color: #FFF;
}

.site-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    cursor: pointer;
}

@keyframes logo-animation {
    0% {opacity: 100%;}
    50% {opacity: 0;}
    100% {opacity: 100%;}
}

@keyframes logo-animation-2 {
    0% {opacity: 0;}
    50% {opacity: 100%;}
    100% {opacity: 0;}
}