body {
    /*background-color: #0C0606;*/
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    font-family: monospace;
    /*overflow-x: hidden;*/
}

.menu-item{
    background-color: #720672;
    color: #FFF;
    padding: 10px;
    margin: 8px 2px;
    width: 15vw;
    font-size: 1.5em;
    transition: all 0.3s;
    transform: skewY(10deg);
    border-top: 2px solid #e10ce1;
    border-right: 2px solid #4d044d;
}

.menu-item:hover{
    text-decoration: none;
    width: 20vw;
    margin: 8px 2px 25px 0;
    transition: all 0.3s;
    cursor: pointer;
    /*transform: skewY(0deg);*/
}

.menu-item:active{
    background-color: #4d044d;
}

.menu-selected {
    background-color: #065b72;
    border-top: 2px solid #0cb4e1;
    border-right: 2px solid #043d4d;
}

.menu-selected:active {
    background-color: #043d4d;
}

.menu-div {
    display: flex;
    flex-direction: column;
    top: 30vh;
}

.page-heading {
    margin: 7vh 0;
    transform: skewY(-5deg);
    text-align: center;
    color: rgba(255,255,255,0.5);
    text-shadow: 3px 3px rgb(255 31 220 / 50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
}

.site-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    cursor: pointer;
}

@keyframes logo-animation {
    0% {opacity: 100%;}
    50% {opacity: 0;}
    100% {opacity: 100%;}
}

@keyframes logo-animation-2 {
    0% {opacity: 0;}
    50% {opacity: 100%;}
    100% {opacity: 0;}
}

.site-container {
    position: absolute;
    left: 20vw;
    top: 30vh;
    width: 80vw;
    padding: 10px;
}

.preloader-main {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
}

.preloader-top-1, .preloader-top-2, .preloader-bottom-1, .preloader-bottom-2 {
    position: absolute;
    overflow: hidden;
    background-color: #1d0d74;
    width: 100vw;
    height: 50vh;
    top: 0;
    left: 0;
    z-index: 100;
}

.preloader-bottom-1, .preloader-bottom-2 {
    top: 50vh;
}

.preloader-top-2, .preloader-bottom-2 {
    background-color: #3518d1;
}

@keyframes preloader-top {
    0% {top: 0;}
    100% {top: -50vh;}
}

@keyframes preloader-bottom {
    0% {top: 50vh;}
    100% {top: 100vh;}
}

.site-container-list {
    color: #FFF;
    width: 100%;
    background-color: #000;
    border: 5px solid #720672;
}

.site-container-list-table {
    font-size: 1.5em;
    width: 100%;
    table-layout: fixed;
}

.site-container-list-table thead {
    border-bottom: 2px solid #720672;
}

.site-container-list-table th, .site-container-list-table td {
    padding: 10px;
}

.site-container-list-table tbody tr {
    cursor: pointer;
}

.site-container-list-table tbody tr:hover {
    background-color: #065b72;
}